<app-header></app-header> 
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="float-right"> 
        <h3
          [ngClass]="{
            'text-danger': scrore < 33||!scrore,
            'text-warning': scrore > 33 && scrore < 66,
            'text-success': scrore > 66
          }"
        >
          <b>{{ scrore ? scrore : 0 }}</b>
        </h3>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <h4 class="text-danger">Pending</h4>
      </div>
      <app-pending-task [pendinglistDto]="pendinglistDto"></app-pending-task>
    </div>  
    <div class="col-md-4">
      <div class="text-center">
        <h4 class="text-warning">In Progress</h4>
      </div>
      <app-inprogress-task></app-inprogress-task>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h4 class="text-success">Completed</h4>
      </div>
      <app-completed-task></app-completed-task>
    </div>
  </div>
</div>
