@import "../scss/variable.scss";
::ng-deep circle {
  stroke-width: 4% !important;
  stroke: $backgroundColorPrimary !important;
}
::ng-deep.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $backgroundColorPrimary !important;
}

// ::ng-deep.mat-form-field-underline {
//   /*change color of underline*/
//   background-color: $backgroundColor !important;
// }

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $backgroundColorPrimary !important;
}
.loader {
  position: absolute;
  top: 0;
  z-index: 111;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #67606057;
}
::ng-deep circle {
  stroke-width: 4% !important;
  stroke: $backgroundColorPrimary !important;
}
